/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my code */
#left_div{
	float: left;
	height: 100%;
	width: 10%;
	position: fixed;
	border-right: 1px solid #e2e2e2;
	box-shadow: inset -3px 0px 2px 0px rgba(0,0,0,0.06);
}
#left_div:hover {
	cursor: pointer;
}
#container{
	padding: 50px 0 0 0;
	margin: 0px 5% 0 5%;
	height: 100%;
	display: inline-block;
}
#masthead {
	margin: 0 0 0 -37.5%;
	left: 50%;
	position: fixed;
	width: 70%;
	background-color: white;
	top: 0px;
	z-index: 1000;
}
header {
	padding: 0 0 0 0;
	width: 80%;
	height: 100px;
	border-bottom: 1px solid #e2e2e2;
	position: relative;
	left: 100px;
}
button {
	padding: 6px 6px;
	margin: 0px;
	border-radius: 3px;
}
.white_button:hover {
	background-color: #F5F5F5;
}
.pointer {
	cursor: pointer;
}
#hamburger_menu {
	width: 115px;
	position: relative;
	border: 1px solid #e2e2e2;
    box-shadow: 0 3px 2px 0px rgba(0,0,0,0.06), inset -1px -1px 1px 0 rgba(0,0,0,0.02);
    right: 66px;
    background-color: white;
}
#hamburger_menu:hover {
	background-color: #F5F5F5;
}
#left_nav {
	margin-top: 10px;
	float: left;
	width: 500px;
}
.nav_element {
	text-transform: capitalize;
	display: inline;
	text-decoration: none;
	background-color: transparent;
	border: none;
	font-size: 0.6875rem;
}
.left_nav_element {
	position: relative;
	font-family: "Arial Black", Gadget, sans-serif;
	text-decoration: none;
	background-color: transparent;
	right: 50px;
}
#logo {
	position: absolute;
	display: block;
	left: 40%;
	top: 10px;
}
.blue_button {
	padding: 10px 9px;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    background-color: #6288a5;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.blue_button:hover {
	background-color: #4d7b9f;
}
#related_article_bar {
	width: 2000px;
	height: 89px;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #ccc;
	padding: 5px 0 0 0;
	box-shadow: 0px 4px 4px rgba(0,0,0,.06);
	position: relative;
	left: -4px;
}
.article-bar-text {
	left: 50px;
	width: 250px;
	padding: 0 0;
	margin: 0 0;
}
.article_bar_tag {
	font-size: .55rem;
	text-transform: uppercase;
	height: 10px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
}
.article_bar_pic{
	float: left;
	padding: 5px;
	margin: 0 5px;
}
.article {
	float: left;
	display: block;
	height: 80px;
	width: 250px;
	border-right: 1px solid #e2e2e2;
	padding-right: 5px;
}
.article_link {
	text-decoration: none;
	color: #010101;
	font-size: 0.8125rem;
}
#right_nav {
	display: inline-block;
	float: right;
	margin-top: 10px;
}
.content {
	width: 55%;
	margin: 0 12%;
	padding: 0 0;
	border-top: 1px solid #0F0F0F;
}
.content img {
	max-width: 100%;
	height: auto;
}
#category {
	clear: both;
}
h1 {
	font-size: 2em;
	font-weight: bold;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 10px;
}
#author_and_date {
	float: left;
}
#author {
	display: inline;
}
.date {
	display: inline;
}
#article_picture{
	height: 632.18px;
	width: 1125px;
 }
.icon {
    background-image: url(https://a1.nyt.com/assets/article/20170424-182737/images/sprite/sprite-no-repeat.svg);
  	display: inline-block;
  	height: 16px;
  	vertical-align: middle;
  	width: 16px;
}
.share-icon {
    background-image: url(https://a1.nyt.com/assets/article/20170424-182737/images/sprite/sprite-no-repeat.svg);
  	display: inline-block;
  	height: 25px;
  	vertical-align: middle;
  	width: 25px;
  	text-decoration: none;
}
.icon-bars {
  	background-position: -444px -215px;
}
.icon-logo {
  	background-position: -51px -280px;
}
.icon-search {
  	background-position: -357px -215px;
}
.icon-gear {
    background-position: -494px -214px;
}
#icon_bank {
	margin: 17px 0 0 0;
	float: right;
}
#share_icons {
	border-right: 1px solid #e2e2e2;
	float: left;
	margin: 0 10px 0 0;
}
#bookmark_and_comment_icon {
	float: right;
}
.icon-facebook {
	background-position: -33px -54px;
}
.icon-twitter {
	background-position: -26px -313px;
}
.icon-email {
	background-position: -131px -21px;
}
.icon-share {
	background-position: -243px -247px;
}
.icon-bookmark {
	width: 16px;
	background-position: -306px -214px;
	position: relative;
	bottom: 20px;
}
.icon-comment {
	position: relative;
	bottom: 3px;
}
#right_div{
	z-index: 10000;
	height: 100%;
	width: 16%;
	border-left: 1px solid #e2e2e2;
	box-shadow: inset 3px 0px 2px 0px rgba(0,0,0,0.06);
	background-color: white;
	top: 0;
	right: 0;
	position: fixed;
}
